{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- page title -->
<section class="section section--first section--bg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<h2 class="section__title">Profile</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{% url 'movie:index' %}">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Profile</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- profile -->
<section class="section">
    <div class="container">
        <div class="row">
            <h2 class="section__title">Hello {{user.first_name}} {{user.last_name}}!</h2>
            <form action="#" class="sign__form">
<!--                <img class="white" src="{% static 'img/profile.png' %}" alt="add image">-->
                <div class="sign__group">
                    <table>
                        <tr>
                            <td class="col-md-6"><h4><label class="white">First Name <br><br><input type="text" class="sign__input_profile" value="{{user.first_name}}" placeholder="First Name" disabled></label></h4><br></td>
                            <td class="col-md-6"><h4><label class="white">Last Name <br><br><input type="text" class="sign__input_profile" value="{{user.last_name}}" placeholder="Last Name" disabled></label></h4><br></td>
                        </tr>
                        <tr>
                            <td class="col-md-6"><h4><label class="white">Email <br><br><input type="text" class="sign__input_profile" value="{{user.email}}" placeholder="Email" disabled></label></h4><br></td>
                            <td class="col-md-6"><h4><label class="white">Username <br><br><input type="text" class="sign__input_profile" value="{{user.username}}" placeholder="Username" disabled></label></h4><br></td>
                        </tr>
                    </table>
                </div>
                <a href="{% url 'userprofile:editprofile' %}"><button class="sign__btn_edit" type="button">Edit Profile</button></a>
            </form>
        </div>
    </div>
</section>
<!--end profile-->

{% endblock %}